/*css utilized in entire site*/
body {
    position: relative;
}



.container-fluid {
    padding-right: 0; 
    padding-left: 0;
}

.audio-length {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 14pt;
    margin-left: 10px;
}

.title-audio .mediPlayer {
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 10px;
}

.mediPlayer {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-top: 0;
}



/*start navigation*/
#nav-init {
    position: fixed;
    height: 50%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
    margin-left: -16px;
}
.navbar img{
    position: absolute;
    
}

ul {
    position: absolute;
    margin-top: -5px;
    margin-left: -5px;
    list-style-type: none;
    z-index: 200;

}

li a {
    margin-top: 10px;
    display: block;


}

li .dot  {
    height: 15px;
    width: 15px;
    background-color: #939597;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.8s ease;

}

li a:link .dot {
    height: 15px;
    width: 15px;
    background-color: #939597;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.8s ease;
}


li a:hover .dot {
    height: 15px;
    width: 15px;
    background-color: #bbbdc0;
    transition: background-color 0.8s ease;
    border-radius: 50%;
    display: inline-block;

}

li a:active .dot, 
.nav-link.active > .dot {
    height: 15px;
    width: 15px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    z-index: 1000;

}
/*end navigation*/


/*Start introduction full screen with quote*/
.blank-full { 
    position: relative;
    width: 100%;
    height: 800px;
    overflow: hidden;
}


.blank-full2 { 
    position: relative;
    width: 100%;
    height: 500px;
}

.center-quote {
    position: relative;
    top: 50%;
    margin-left: auto;
    margin-right: auto;
}

.center-quote h1 {
    position: relative;
    font-family: 'Crimson Text', serif;
    font-weight: 400;
    font-size: 20pt;
    text-align: center;
    color: black;
    top: 50%;   
}



.center-quote2 {
    position: relative;
    top: 40%;
    
}

.center-quote2 h1 {
    position: relative;
    font-family: 'Crimson Text', serif;
    font-weight: 400;
    font-size: 20pt;
    text-align: center;
    color: black;
    top: 20%;   
    margin-left: 20%;
    margin-right: 20%;
}


/*Start video background full screen with project title*/


#title-vid {
    position: relative;
    padding-bottom: 56.75%;
    padding-top: 0;
    height: 0;
    overflow: hidden;
    z-index: -10000;
}


#title-vid iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -100000;
    
}


.headline {
    position: absolute;
    top: 50%;
    width: 100%;
    z-index: 1000;
}

.headline h1 {
    font-family: 'Lora', serif;
    font-weight: 400;
    font-size: 8vw;
    letter-spacing: 20pt;
    text-align: center;
    text-indent: 0.2em;
    color: white;  
}

.headline h2 {
    font-family: 'Crimson Text', serif;
    font-weight: 400;
    font-size: 2vw;
    text-align: center;
    color: white;   
}

.headline h3 {
    font-family: 'Lora', serif;
    font-weight: 400;
    font-size: 1.75vw;
    letter-spacing: 6pt;
    text-indent: -1em;
    text-align: center;
    color: white;
}


.mediPlayer {
    z-index: 100000;
    
}





/*Start Chapter Title Text Over Full Screen Image*/
.full-img {
    position: relative;
    width: 100%;
    height: auto;
}


.full-img img {
    position: relative;
    width: 100%;
}



.full-img .quote {
    width: 50px;
    
    
}

.ch-title {
    position: absolute;
    top: 60%;
    width: 100%;
    z-index: 1000;
    
}



.ch-title-bg {
    background-color: rgba(99, 110, 114, 0.7);
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.ch-title h3 {
    font-family: 'Lora', serif;
    font-weight: 600;
    font-size: 2vw;
    letter-spacing: 6pt;
    text-align: center;
    color: white;
    text-shadow: 0 2px 2px #000000;
    padding-top: 10px;
}

.ch-title h1 {
    font-family: 'Lora', serif;
    font-weight: 600;
    font-size: 5vw;
    text-align: center;
    color: white;
    text-shadow: 0 2px 2px #000000;
}


.wrapper img {
    z-index: -10000;
}







/* Start Pull Quote Over Full Screen Image*/


.pull-quote {
    padding-right: 10%;
    padding-left: 20%;
    margin-top: 45%;
    
    
}

.pull-quote img {
    z-index: -1000;
}

.pull-quote h3 {
    font-family: 'Crimson Text', serif;
    font-weight: 400;
    font-size: 2vw;
    color: black;
    z-index: -1000;
}

.mediPlayer {
    z-index: 10000;
}




/* Start Chapter 1 Centered Block Text*/


.center-text {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-right: 17%;
    margin-left: 17%;
    
}
.center-text p {
    font-family: 'Crimson Text', serif;
    font-weight: 400;
    font-size: 1.5vw;
    
}

.center-text #drop-cap {
    font-family: 'Crimson Text', serif;
    font-weight: 400;
    font-size: 8vw;
    float: left;
    line-height: 80%;
    
    
}





/* START VERTICAL IMAGE AND TEXT STYLE*/
.vert-img {
    padding-left: 10%;
    
}

.vert-img-text {
    padding-left: 5%;
    padding-right: 15%;
    padding-bottom: 20%;
    padding-top: 20%;
    
    
}

.vert-img-cap p {
    padding-left: 10%;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 1.5vw;

}

.vert-img-text #drop-cap {
    font-family: 'Crimson Text', serif;
    font-weight: 400;
    font-size: 9vw;
    float: left;
    line-height: 80%;
    
    
}


#drop-cap {
    font-family: 'Crimson Text', serif;
    font-weight: 400;
    font-size: 11vw;
    float: left;
    line-height: 80%;
    
    
}

.vert-img-text p {
    font-family: 'Crimson Text', serif;
    font-weight: 400;
    font-size: 1.75vw;
}




/*2 STYLES START BLOCK TEXT PARALLAX STYLE 2 STYLES*/
/*START BLOCK TEXT PARALLAX STYLE*/
.block-text {
    position: absolute;
    top: 60%;
    width: 100%;
    z-index: 1000;
    
}

.block-text-bg {
    background-color: rgba(99, 110, 114, 0.7);
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

.block-text #drop-cap {
    color: white;
    font-size: 8vw;
    padding-left: 3%;
}

.block-text p {
    font-family: 'Crimson Text', serif;
    font-weight: 400;
    font-size: 1.50vw;
    color: white;
    padding-bottom: 3%;
    padding-top: 3%;
    padding-left: 3%;
    padding-right: 3%;
}


/*START BLOCK TEXT PARALLAX STYLE 2*/

.block-text2 {
    position: absolute;
    top: 60%;
    width: 100%;
    z-index: 1000;
    
}

.block-text-bg2 {
    background-color: rgba(99, 110, 114, 0.7);
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

.block-text2 #drop-cap {
    color: white;
    font-size: 9vw;
    padding-left: 3%;
}

.block-text2 p {
    font-family: 'Crimson Text', serif;
    font-weight: 400;
    font-size: 1.75vw;
    color: white;
    padding-bottom: 3%;
    padding-top: 3%;
    padding-left: 3%;
    padding-right: 3%;
}



/*START CENTER QUOTE2 (FOR OVER IMAGES)*/
.center-quote2-wrapper {
    position: absolute;
    top: 50%;
    width: 100%;
    z-index: 1000;
}

.center-quote2 {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.center-quote2 h1 {
    position: relative;
    font-family: 'Crimson Text', serif;
    font-weight: 400;
    font-size: 20pt;
    text-align: center;
    color: black;
    top: 50%;   
}




/*START CENTER QUOTE3 (FOR OVER IMAGES NARROW QUOTE)*/
.center-quote3-wrapper {
    position: absolute;
    top: 50%;
    width: 100%;
    z-index: 1000;
}

.center-quote3 {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.center-quote3 h1 {
    position: relative;
    font-family: 'Crimson Text', serif;
    font-weight: 400;
    font-size: 20pt;
    text-align: center;
    color: black;
    top: 50%;   
}






/*Centered 360 and Centered Chapter 2 Text*/


.three-sixty iframe {
    height: 500px;
    
}

.ch2-top-img {
    width: 100%;
    padding-top: 5%;
}

.ch2-top-img img {
    width: 100%;
}

.center-text-wrapper {
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.center-text-wrapper h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 2vw;
}


.center-text-wrapper p {
    font-family: 'Crimson Text', serif;
    font-weight: 400;
    font-size: 1.5vw;
}










/*Chapter 3 Title Quote*/

.center-quote h4 {
    padding-top: 25px;
    font-family: 'Crimson Text', serif;
    font-weight: 400;
    font-size: 1.5vw;
    color: white;
    text-align: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    
}






/*fullscreen vid*/

.full-screen-vid {
    position: relative;
    width: 100%;
   
    
}

iframe {
    width: 100%;
    
}





























/*START CAROUSEL STYLE*/

.carousel-indicators li {
    border-radius: 15px;
    width: 15px;
    height: 15px;
    background-color: gray;
}

.carousel-caption p {
    font-family: 'Crimson Text', serif;
    font-weight: 400;
    
}

.carousel-control-next-icon {
    height: 50px;
    width: 50px;
    
}

.carousel-control-prev-icon {
    height: 50px;
    width: 50px;
}


















