/*font-family: 'Lato', sans-serif;
font-family: 'Lora', serif;
font-family: 'Crimson Text', serif;*/


/*PREVIOUS
.intro img {
    z-index: -1;
}

.headline {
    opacity: 0;
    transform: translateY(-50px);
    transition: all 1s ease-out;
}

.headline.fade-in {
   opacity: 1;
   transform: translateY(0px); 
}

.headline h1 {
    font-family: 'Lora', serif;
    font-weight: 400;
    font-size: 60pt;
    letter-spacing: 40pt;
    text-align: center;
    text-indent: 0.6em;
    
    
}



hr { 
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 25%;
    margin-right: 25%;
    border-width: 1px;
    border-color: black;
}



.subheadline h2 {
    font-family: 'Crimson Text', serif;
    font-weight: 400;
    font-style: italic;
    font-size: 20pt;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    
    
}

.subheadline {
    opacity: 0;
    transform: translate3d(10px);
    transition: all 1s ease-out;
}

.subheadline.fade-in {
   opacity: 1;
   transform: translateY(0px); 
}

p{
    font-family: 'Crimson Text', serif;
    font-size: 16pt;
    line-height: 21pt;
    margin-right: 15%;
    margin-left: 15%;
    
}

p::first-letter {
 color: #636e72;
 float: left;
 font-family: 'Crimson Text', serif;
 font-size: 150px;
 line-height: 100px;
 padding-top: 4px;
 padding-right: 8px;
 padding-left: 3px;
}
*/

html, body {
    width: 100%;

}


/*start navigation*/
#nav {
    position: fixed;
    height: 50%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
    margin-left: -2px;
}
.navbar img{
    position: absolute;
    margin-top: 40px;
}

ul {
    position: absolute;
    margin-left: -40px;
    list-style: none;
    z-index: 200;

}

li {
    margin-top: 0px;


}
/*end navigation*/


/*START Project Intro Pull Quote*/
#splashscreen { 
}


.introquote {
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: center; 
}


.introquote h1 {
    position: absolute;
    font-family: 'Crimson Text', serif;
    font-weight: 700;
    font-size: 20pt;
    text-align: center;
    color: black;
    margin-left: 25%;
    margin-right: 25%;
}
/*END Project Intro Pull Quote*/


/*START Drone Footage and Title*/
#demo {
    
}

.video {
}

.headline {
    padding-top: 400px;
    margin-right: auto;
    margin-left: auto;
}

.headline h1 {
    font-family: 'Lora', serif;
    font-weight: 400;
    font-size: 60pt;
    letter-spacing: 40pt;
    text-align: center;
    text-indent: 0.6em;
    color: black;
    padding-bottom: 10px;   
}

.headline h2 {
    font-family: 'Crimson Text', serif;
    font-weight: 400;
    font-style: italic;
    font-size: 20pt;
    text-align: center;
    color: black;   
}

.headline h3 {
    font-family: 'Lora', serif;
    font-weight: 400;
    font-size: 15pt;
    letter-spacing: 8pt;
    text-align: center;
    text-indent: 0.6em;
    color: black;
    
}




/*END Drone Footage and Title*/


/*


.background img {
    position: absolute;
    z-index: -1000;
    width: 100vw;
    bottom: 0;
}

.foreground img {
    position: absolute;
    z-index: -900;
    width: 100vw;
    bottom: 0;
    /*add min heigh max height
    
}

.largeTree img {
    position: absolute;
    height: 700px;
    z-index: -800;
    margin-left: -100px;
}


.sign img {
    width:200px;
    height:500px;
    position: absolute;
    margin-top: 100px;
    margin-left: 700px;  
    display: inline-block;
    z-index: -700;
}

.headline {
    z-index: 1;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: 0;
}

.headline h3 {
    font-family: 'Lora', serif;
    font-weight: 400;
    font-size: 15pt;
    letter-spacing: 8pt;
    text-align: center;
    text-indent: 0.6em;
    color: black;
    
}

.headline h1 {
    font-family: 'Lora', serif;
    font-weight: 400;
    font-size: 60pt;
    letter-spacing: 40pt;
    text-align: center;
    text-indent: 0.6em;
    color: black;
    padding-bottom: 10px;   
}

.headline h2 {
    font-family: 'Crimson Text', serif;
    font-weight: 400;
    font-style: italic;
    font-size: 20pt;
    text-align: center;
    color: black;   
}

/*end animated intro*/
*/



/*start chapter 1 story*/
.chapter {
    padding-top: 200px;
    margin-right: auto;
    margin-left: auto;

}

.chapter img {
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: center;

}

.chapter h3 {
    font-family: 'Lora', serif;
    font-weight: 400;
    font-size: 15pt;
    letter-spacing: 8pt;
    text-align: center;
    text-indent: 0.6em;
    color: black;  
}

.chapter h1 {
    font-family: 'Lora', serif;
    font-weight: 400;
    font-size: 60pt;
    text-align: center;
    color: black;
    padding-bottom: 10px;
    margin-right: 10%;
    margin-left: 10%;
}

.chapter h2 {
    font-family: 'Crimson Text', serif;
    font-weight: 400;
    font-style: italic;
    font-size: 20pt;
    text-align: center;
    color: black;   
}

/*end chapter 1 story*/

/*start chapter 1 video*/

.chapter-video {
    height: 100%;
    width: 100%;

}

/*end chapter 1 video*/

/*start slideshow*/
.owl-carousel .item h4 {
  color: black;
  font-weight: 400;
  margin-top: 0em;
}

.owl-carousel .item {
    
}

.owl-vertical {
    padding-top: 150px;
    

}


.owl-wrapper {
    width: 100%;
    z-index: 0;
    
}

.slideshow-left {
    position: absolute;
    left: 0;
    z-index: 100;
    
}

.slideshow-right {
    position: absolute;
    right: 0;
    z-index: 100;
    
    
}
/*center everything in window*/
.full-screen {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
