/*css utilized in entire site*/
body {
    position: relative;
}




.container-fluid {
    padding-right: 0; 
    padding-left: 0;
    padding-top: 25px;
    padding-bottom: 25px;
}

.audio-length {
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 18pt;
    color: #b5b577;
    margin-left: 25px;
}

.title-audio .mediPlayer {
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 10px;
}

.mediPlayer {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-top: 0;
    height: 40px;
    width: 40px;
    background-color: #b5b577;
    border-radius: 50%;
}




.full-img .audio-wrapper {
    position: absolute;
    top: 45%;
    left: 20%;
    
}

.mediPlayer {
    cursor: pointer;
}



/*start navigation*/
#nav-init {
    position: fixed;
    height: 50%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
    margin-left: -16px;
}
.navbar img{
    position: absolute;
    opacity: .4;
    
}

ul {
    position: absolute;
    margin-top: -5px;
    margin-left: -5px;
    list-style-type: none;
    z-index: 200;

}

li a {
    margin-top: 10px;
    display: block;


}

li .dot  {
    height: 15px;
    width: 15px;
    background-color: #939597;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.8s ease;

}

li a:link .dot {
    height: 15px;
    width: 15px;
    background-color: #939597;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.8s ease;
}


li a:hover .dot {
    height: 15px;
    width: 15px;
    background-color: #bbbdc0;
    transition: background-color 0.8s ease;
    border-radius: 50%;
    display: inline-block;

}

li a:active .dot, 
.nav-link.active > .dot {
    height: 15px;
    width: 15px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    z-index: 1000;

}
/*end navigation*/


/*Start introduction full screen with quote*/
.blank-full { 
    position: relative;
    width: 100%;
    height: 800px;
    overflow: hidden;
}


.blank-full2 { 
    position: relative;
    width: 100%;
    height: 500px;
}

.center-quote {
    position: relative;
    top: 50%;
    margin-left: auto;
    margin-right: auto;
}

.center-quote h1 {
    position: relative;
    font-family: 'Crimson Text', serif;
    font-weight: 400;
    font-size: 20pt;
    text-align: center;
    color: black;
    top: 50%;   
}



.center-quote2 {
    position: relative;
    top: 40%;
    
}

.center-quote2 h1 {
    position: relative;
    font-family: 'Crimson Text', serif;
    font-weight: 400;
    font-size: 20pt;
    text-align: center;
    color: black;
    top: 20%;   
    margin-left: 20%;
    margin-right: 20%;
}


/*Start video background full screen with project title*/


#title-vid {
    position: relative;
    padding-bottom: 56.75%;
    padding-top: 0;
    overflow: hidden;
    z-index: -10000;
}

#animation {
    position: relative;
    padding-bottom: 56.75%;
    padding-top: 0;
    overflow: hidden;
}


#title-vid iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -100000;
    
}

#title-vid video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -100000;
    
}

#animation iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
}


.headline {
    position: absolute;
    top: 50%;
    width: 100%;
    z-index: 1000;
}

.headline h1 {
    font-family: 'Lora', serif;
    font-weight: 400;
    font-size: 100px;
    letter-spacing: 20pt;
    text-align: center;
    text-indent: 0.2em;
    color: white;  
}

.headline h2 {
    font-family: 'Crimson Text', serif;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    color: white;   
}

.headline h3 {
    font-family: 'Lora', serif;
    font-weight: 400;
    font-size: 22px;
    letter-spacing: 6pt;
    text-indent: -1em;
    text-align: center;
    color: white;
}

.headline p {
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    color: white;
    padding-top: 50px;

}








/*Start Chapter Title Text Over Full Screen Image*/
.full-img {
    position: relative;
    width: 100%;
    height: auto;
}

.full-img-pin {
  position: relative;
  width: 100%;
}

.full-img-pin img {
  position: relative;
  width: 100%;
}

.full-img wrapper {


}


.full-img img {
    position: relative;
    width: 100%;
    height: auto;
    
}



.full-img .quote {
    width: 50px;
    
    
}

.ch-title {
    position: absolute;
    top: 50%;
    width: 100%;
    z-index: 1000;
    
}



.ch-title-bg {
    background-color: rgba(99, 110, 114, 0.7);
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.ch-title h3 {
    font-family: 'Lora', serif;
    font-weight: 600;
    font-size: 2vw;
    letter-spacing: 6pt;
    text-align: center;
    color: white;
    text-shadow: 0 2px 2px #000000;
    padding-top: 10px;
}

.ch-title h1 {
    font-family: 'Lora', serif;
    font-weight: 600;
    font-size: 5vw;
    text-align: center;
    color: white;
    text-shadow: 0 2px 2px #000000;
}

.ch-title p {
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    color: white;
    font-size: 12pt;
    text-align: center;
}

.title-audio {
    padding-bottom: 10px;
}


.wrapper img {
    z-index: -10000;
}




/*Start Background with Caption and Audio*/
.audio-title {
    position: absolute;
    width: 100%;
    z-index: 1000;
    bottom: 0;
    
}



.audio-title-bg {
   background-color: rgba(99, 110, 114, 0.8);
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   padding-top: 10px;
    padding-bottom: 10px;
}

.audio-title-text p {
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 12pt;
    margin-left: 5px;
    color: white;
    padding-top: 5px;
    padding-left: 30px;
}














/* Start Pull Quote Over Full Screen Image*/


.pull-quote {
    padding-right: 10%;
    padding-left: 20%;
    margin-top: 30%;
    
    
}



.pull-quote img {
}

.pull-quote h3 {
    font-family: 'Crimson Text', serif;
    font-weight: 400;
    font-size: 2vw;
    color: black;
    z-index: -1000;
}


.pull-quote h4 {
    font-family: 'Crimson Text', serif;
    font-weight: 600;
    font-size: 1.8vw;
    color: black;
    z-index: -1000;
}

.pull-quote p {
    padding-top: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 12pt;
    color: #b5b577;
}

.angel {
    margin-top: 5%;
}

.mediPlayer {
    z-index: 10000;
}




/* Start Chapter 1 Centered Block Text*/


.center-text {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-right: 17%;
    margin-left: 17%;
    
}
.center-text p {
    font-family: 'Crimson Text', serif;
    font-weight: 400;
    font-size: 1.5vw;
    
}

.center-text #drop-cap {
    font-family: 'Crimson Text', serif;
    font-weight: 400;
    font-size: 8vw;
    float: left;
    line-height: 80%;
    
    
}





/* START VERTICAL IMAGE AND TEXT STYLE*/
.vert-img {
    padding-left: 10%;
    
}

.vert-img-text {
    padding-left: 5%;
    padding-right: 15%;
    padding-bottom: 20%;
    padding-top: 20%;
    
    
}

.vert-img-cap p {
    padding-left: 10%;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 1.5vw;

}

.vert-img-text #drop-cap {
    font-family: 'Crimson Text', serif;
    font-weight: 400;
    font-size: 9vw;
    float: left;
    line-height: 80%;
    
    
}

.img-fluid2 {
    padding-left: 50px;
    height: 100vh;
}
.img-fluid3 {
    padding-left: 50px;
    height: 100vh;
}


#drop-cap {
    font-family: 'Crimson Text', serif;
    font-weight: 400;
    font-size: 11vw;
    float: left;
    line-height: 80%;
    
    
}

.vert-img-text p {
    font-family: 'Crimson Text', serif;
    font-weight: 400;
    font-size: 1.75vw;
}




/*2 STYLES START BLOCK TEXT PARALLAX STYLE 2 STYLES*/
/*START BLOCK TEXT PARALLAX STYLE*/
.block-text {
    position: absolute;
    top: 60%;
    width: 100%;
    z-index: 1000;
    
}

.block-text-bg {
    background-color: rgba(99, 110, 114, 0.7);
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

.block-text #drop-cap {
    color: white;
    font-size: 8vw;
    padding-left: 3%;
}

.block-text p {
    font-family: 'Crimson Text', serif;
    font-weight: 400;
    font-size: 1.50vw;
    color: white;
    padding-bottom: 3%;
    padding-top: 3%;
    padding-left: 3%;
    padding-right: 3%;
}


/*START BLOCK TEXT PARALLAX STYLE 2*/

.block-text2 {
    position: absolute;
    top: 60%;
    width: 100%;
    z-index: 1000;
    
}

.block-text-bg2 {
    background-color: rgba(99, 110, 114, 0.7);
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

.block-text2 #drop-cap {
    color: white;
    font-size: 9vw;
    padding-left: 3%;
}

.block-text2 p {
    font-family: 'Crimson Text', serif;
    font-weight: 400;
    font-size: 1.75vw;
    color: white;
    padding-bottom: 3%;
    padding-top: 3%;
    padding-left: 3%;
    padding-right: 3%;
}



/*START CENTER QUOTE2 (FOR OVER IMAGES)*/
.center-quote2-wrapper {
    position: absolute;
    top: 50%;
    width: 100%;
    z-index: 1000;
}

.center-quote2 {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.center-quote2 h1 {
    position: relative;
    font-family: 'Crimson Text', serif;
    font-weight: 400;
    font-size: 20pt;
    text-align: center;
    color: black;
    top: 50%;   
}




/*START CENTER QUOTE3 (FOR OVER IMAGES NARROW QUOTE)*/
.center-quote3-wrapper {
    position: absolute;
    top: 50%;
    width: 100%;
    z-index: 1000;
}

.center-quote3 {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    top: 30%;
}

.center-quote3 h1 {
    position: relative;
    font-family: 'Crimson Text', serif;
    font-weight: 400;
    font-size: 20pt;
    text-align: center;
    color: black;
    top: 50%;   
}






/*Centered 360 and Centered Chapter 2 Text*/


.three-sixty iframe {
    height: 500px;
    
}

.infographic {
    padding-top: 30px;
}

.ch2-top-img {
    width: 100%;
    padding-top: 5%;
}

.ch2-top-img img {
    width: 100%;
}

.center-text-wrapper {
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.center-text-wrapper h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 2vw;
}


.center-text-wrapper p {
    font-family: 'Crimson Text', serif;
    font-weight: 400;
    font-size: 1.5vw;
}










/*Chapter 3 Title Quote*/

.center-quote h4 {
    padding-top: 25px;
    font-family: 'Crimson Text', serif;
    font-weight: 400;
    font-size: 1.5vw;
    color: white;
    text-align: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    
}






/*fullscreen vid*/

.full-screen-vid {
    position: relative;
    width: 100%;
   
    
}

iframe {
    width: 100%;
    
}

video {
    width: 100%;
}





























/*START CAROUSEL STYLE*/

.carousel {
  height: auto;
  overflow: hidden;
}

.carousel-indicators li {
    border-radius: 15px;
    width: 15px;
    height: 15px;
    background-color: gray;
}

.carousel-caption p {
    font-family: 'Crimson Text', serif;
    font-weight: 400;
    font-size: 22px;
    
}

.carousel-control-next-icon {
    height: 50px;
    width: 50px;
    
}

.carousel-control-prev-icon {
    height: 50px;
    width: 50px;
}





footer {
    position: relative;
    border-top-color: black;
    background-color: #2d3436;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    
}


.center-footer {
    color: white;
    padding-top: 30px;
    
}

.name-line {



}

.center-footer h3 {
    position: relative;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 13px;
    padding-top: 2px;
    color: white;
    
}

.center-footer p {
    position: relative;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 13px;
    padding-left: 5px;
    
}


.right-footer p {
    text-align: right;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: white;
    padding-top: 30px;
    padding-right: 20px;
}

.left-footer img {
    width: 200px;
    padding-top: 30px;
    padding-left: 20px;

}



/*Photo hover Captions*/

figure { 
  display: block; 
  position: relative; 
  overflow: hidden; 
    width: 100%;
}

figcaption { 
    position: absolute; 
    width: 100%;
    background: rgba(99, 110, 114, 0.25); 
    color: white; 
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: white;
    padding-bottom: 10px;
    
    padding: 10px 20px;
    
    -webkit-transition: all 0.6s ease;
    -moz-transition:    all 0.6s ease;
    -o-transition:      all 0.6s ease;
}

.cap-top figcaption { 
        top: -30%; 
        text-align: center;
}
.cap-top:hover figcaption { top: 0; }

.cap-bot figcaption { 
    bottom: -10%;
    text-align: center;
    }

.cap-bot:hover figcaption { bottom: 0; }

figure:hover figcaption {
  opacity: 1;
}


/*FADE TRY*/

#scroll-container1 {
   opacity: 0;
   -webkit-transition: opacity     1s; /* Safari */
   transition: opacity 1s;
}

#scroll-container1.fade-in {
    opacity: 1;  
}



#scroll-container2 {
   opacity: 0;
   -webkit-transition: opacity     5s; /* Safari */
   transition: opacity 5s;
}

#scroll-container2.fade-in {
    opacity: 1;  
}





/*Mobile CSS*/

@media only screen and (max-width: 600px) {
    .headline {
        top: 45%;
    }
    .headline h3 {
        font-size: 10px;
        letter-spacing: 2px;
        text-indent: 0;
        }
    .headline h1{
        font-size: 50px;
        letter-spacing: 5px;
        text-indent: .2px;
    }
    .headline h2{
        font-size: 11.5px;
    
    }
    
    .center-quote {
    top: 30%;
}

    .center-quote h1 {
    font-size: 15pt;  
}
    
    .blank-full {
        height: 200px;
    
    }  
    
    .ch-title {
        top: 50%;
    }
    
    .ch-title h3 {
        letter-spacing: 3px;
        font-size: 10px;
        padding-top: 5px;
    }  
    
    .ch-title h1 {
        font-size: 20px;
        margin-top: -5px;
    }
    
    .ch-title p {
        font-size: 8px;
        margin-top: -5px;
    }
    
   .title-audio .mediPlayer {
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 5px;
       margin-top: -5px;
}

.mediPlayer {
    height: 40px;
    width: 40px;
    background-color: #b5b577;
    border-radius: 50%;
}
    
    .center-text {
        margin-right: 12%;
        margin-left: 12%;
    
    }
    .center-text p {
        font-size: 14px;
    }
    
    #drop-cap {
    }
    
    .pull-quote {
        margin-top: 5%;
    
    }
    
    .pull-quote h3 {
        font-size: 15px;
        padding-top: 10px;
    }
    
    .pull-quote h4 {
        font-size: 15px;
        margin-top: -5%;
    }
    
    .pull-quote p {
        font-size: 12px;
        margin-top: -10px;
    }
    
    .audio-length {
        padding-bottom: 20px;
    }
    
    .vert-img-cap img {
        padding-top: 30px;
    }
    
     .vert-img-cap p {
        font-size: 12px;
    }
    
    .vert-img-text {
        margin-left: 12%;
    
    }
    .vert-img-text p {
        font-size: 14px;
    }
    
    .block-text p {
        font-size: 14px;
    }
    
    .block-text-bg {
        width: 70%
    }
    
     .second {
         top: 20%;
    }
    
    .three-sixty iframe {
        height: 200px;
        
    }
    
    .center-text-wrapper h1 {
        font-size: 14px;
    }
    
    .center-text-wrapper p {
        font-size: 10px;
    }
    
    figcaption {
        font-size: 10px;
    }
    
    .audio-title-text p {
        font-size: 10px;
    }
    
    
     .center-quote2 {
    top: 25%;
}

    .center-quote2 h1 {
    font-size: 15pt;  
}
    .block-text2 p {
        font-size: 14px;
    }
    
    .block-text-bg2 {
        width: 70%
    }
    
    .carousel-indicators {
        display: none;
    }
    
    
      .center-quote3 {
        top: 15%;
        width: 70%;
}

    .center-quote3 h1 {
    font-size: 15pt;  
}
    footer {
        height: 100%;
    }
    
    .center-footer {
        margin-left: 15%;
    }
    
    .left-footer {
        margin-left: 5%;
    }
    
    .right-footer p {
        text-align: center;
    }
    
    .third {
        margin-top: 10%;
    }
    
    .fourth {
        margin-top: 10%;
    }
    
    .img-fluid2 {
        padding-left: 0;
        height: 600px;
}
.img-fluid3 {
    padding-left: 0;
        height: 600px;
}
}


