/*font-family: 'Lato', sans-serif;
font-family: 'Lora', serif;
font-family: 'Crimson Text', serif;*/

h1{
    font-family: 'Lora', serif;
    font-weight: 400;
    font-size: 60pt;
    letter-spacing: 40pt;
    text-align: center;
    
}

hr { 
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 25%;
    margin-right: 25%;
    border-width: 1px;
    border-color: black;
}

h2{
    font-family: 'Crimson Text', serif;
    font-weight: 400;
    font-style: italic;
    font-size: 20pt;
    text-align: center;
    
}

p{
    font-family: 'Crimson Text', serif;
    font-size: 16pt;
    line-height: 21pt;
    margin-right: 15%;
    margin-left: 15%;
    
}

p::first-letter {
 color: #636e72;
 float: left;
 font-family: 'Crimson Text', serif;
 font-size: 150px;
 line-height: 100px;
 padding-top: 4px;
 padding-right: 8px;
 padding-left: 3px;
}
}